
/*
gris planes #4d4d4d
gris descripción planes/footer #333333
azul botones #29abe2
*/
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
}
hr{
	border: 1px solid white; /*ARREGLAR*/
}
.sticky-top{
	background: black;
	position: relative;
	height: 80px;
}
i.fa.fa-shoping-cart{
	font-size: 30px; /*arreglar*/
}
i{
	color: white;
	margin-right: 30px;
	padding: 20px;
	background-color: green;
	border-radius: 50%;
}
#carousel{
	padding: 0;
	margin-top: -100px;
}
.carousel-caption.d-none.d-md-block{
	text-align: left;
	margin-bottom: 15rem;
}
.col-md-2.planes{
	padding: 0;
	margin:0;
}
.col_last {
	margin-right: 0 !important;
	clear: right;
}
#planes{
	background-color: #333333;
	color: white;
	display: flex;
	flex-direction: row;
	margin-top: -8px;
}
#titulo-planes{
	text-align: center;
	background-color: #333;
	color: white;
}
.img-plan{
	width: 100%;
	height: auto;
}
.prev-planes{
	width: 65%;
	background-color: #4d4d4d;
}
div#plan1.planes{
	display: inline-grid;
	float: left;
}
div#plan2.planes{
	display: inline-grid;
}
div#plan3.planes{
	display: inline-grid;
	float: left;
}
div#plan4.planes{
	display: inline-grid;
}
.planes{
	border: 4px solid white;
	border-radius: 10px;
	width: 50%;
}

.detalle-plan{
	width: 35%;
}
#busqueda-plan{
	background-color: #666;
	color: white;
	text-align: center;
}
div#marca.dropdown{
	width: 50%;
	margin:0;
	padding: 0;
}
#beneficios{
	background-color: black;
	color: white;
	text-align: center;
}
.img-beneficio{
	width: 200px;
	height: auto;
}
.imagenes-beneficios{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#footer{
	background-color: #333;
	color: white;
}
#logo-telcel-footer{
	width: 100%;
	border:1px solid white;
}
@media screen and (max-width: 500px){
	div#carousel.container-fluid{
		margin-top: 0;
	}
	.prev-planes{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	div#plan1.planes{
		width: 100%;
	}
	div#plan2.planes{
		width: 100%;
	}
	div#plan3.planes{
		width: 100%;
	}
	div#plan4.planes{
		width: 100%;
	}

}